@charset "utf-8";
/* MINDsLab. CSJ. 20210614 */

/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px; height:6px; border-radius:3px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:rgba(255,255,255,0.2);}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(255, 255, 255, 0.8); border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */

/* ==================== wrap ==================== */
#wrap{position:relative; width:100%; min-width:1280px; height:100%; background:#f5f6fa;}

/* ==================== container ==================== */
#container{display:block; position:relative; top:50%; left:50%; width:1280px; height:800px; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);}

/* #content */
#content{display:block; width:100%; height:100%; padding:40px 0 0;}
#content h2{font-size:24px; font-weight:700; text-align:center;}
#content h2 em{color:#f8778a; font-weight:700;}
.cnt_tit{font-size:15px; font-weight:700; letter-spacing:-0.68px;}
.cnt_tit span{font-size:12px; margin-left:12px; font-weight:400; color:#99a2ba;}

/* contents */
.contents{width:1040px; height:auto; margin:20px auto 0;}
.btn_play{display:flex; justify-content:center; align-items:center; width:150px; height:48px; margin:30px auto 0; border-radius:34px; -webkit-border-radius:34px; -moz-border-radius:34px; -ms-border-radius:34px; -o-border-radius:34px; background:#f8778a; text-align:center; color:#fff; font-size:16px; font-weight:700; letter-spacing:-0.19px;}
.btn_play:disabled{cursor:default; background:#d5dae4;}

/* title_area */
.title_area{display:flex; align-items:center; justify-content:flex-start; padding-left:40px; box-sizing:border-box;}
.title_area .cnt_tit{font-size:14px;}
.title_area .cnt_tit span{font-size:14px;}
.title_area *{display:inline-block;}
.title_area .port_input, .title_area .port_output{display:none; font-size:0; margin-left:11px;}
.title_area .port_input.on, .title_area .port_output.on{display:inline-block;}
.title_area .port_input input[type="text"]{width:127px; height:29px; padding-left:12px; border:1px solid #2c3e51; border-right:0; border-top-left-radius:8px; border-bottom-left-radius:8px; background:transparent; color:#2c3e51; font-size:14px; letter-spacing:-0.49px; box-sizing:border-box;}
.title_area .port_input input[type="text"]::placeholder{color:#97a2bc; font-size:14px; letter-spacing:-0.49px;}
.title_area .port_input input[type="text"]::-moz-placeholder{color:#97a2bc; font-size:14px; letter-spacing:-0.49px;}
.title_area .port_input input[type="text"]::-webkit-input-placeholder{color:#97a2bc; font-size:14px; letter-spacing:-0.49px;}
.title_area .port_input input ~ button{width:66px; height:29px; border-top-right-radius:8px; border-bottom-right-radius:8px; background:#2c3e51; color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.49px; text-align:center;}
.title_area .port_output span{display:inline-block; width:auto; background:transparent; color:#99a2ba; font-size:14px; letter-spacing:-0.49px;}
.title_area .btn_port_reset{width:78px; height:29px; margin-left:12px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; background:#97a2bc; color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.16px; text-align:center; line-height:25px;}
.title_area .id_box{margin-left:24px;}

/* content */
.content{display:flex; justify-content:space-between; align-items:flex-start; position:relative; width:100%; height:564px; margin:8px auto 0; padding:30px 40px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; background:#fff; box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.06); box-sizing:border-box;}
.disabled{background:#fff; pointer-events:none; opacity:0.4;}
.disabled02{background:#f0f2f5; pointer-events:none;}
.cnt_left, .cnt_right{width:450px;}

/* stn */
.stn{position:relative;}
.stn + .stn{margin-top:20px;}
.stn .tit_area{display:flex; justify-content:space-between; align-items:center; position:absolute; top:-69px; left:0; width:100%; height:29px; }

/* tab */
.tab{padding-top:29px; font-size:0;}
.tab li{display:inline-flex; width:50%; height:35px; align-items:center; justify-content:center; border:1px solid #99a2ba; border-bottom:0; color:#2c3e51; font-size:13px; font-weight:700; letter-spacing:-0.46px; text-align:center; box-sizing:border-box; cursor:pointer;}
.tab li:first-child{border-top-left-radius:8px;}
.tab li:last-child{border-top-right-radius:8px;}
.tab li.on{border-color:#2c3e51; background:#2c3e51; color:#fff;}
.tab li.disabled{cursor:default; background:#f0f2f5; color:#97a2bc;}
.tab_con>div{display:none; position:relative; height:136px; padding:15px 18px 16px; border:solid 1px #2c3e51; border-bottom-left-radius:8px; border-bottom-right-radius:8px; box-sizing:border-box;}

/* stn.input */
.btn_reset{width:66px; height:21px; border-radius:12px; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; background:#d5dae4; color:#fff; font-size:12px; font-weight:500; text-align:center; line-height:21px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s; -ms-transition:all 0.2s; -o-transition:all 0.2s; }
.btn_reset:hover{background-color:#97a2bc;}
.input textarea{overflow-y:auto; width:100%; height:83px; font-size:14px; color:#303e4f; letter-spacing:-0.49px; font-weight:400;}
.input textarea::placeholder{font-size:13px; color:#97a2bc;}
.input .text_count{position:absolute; right:18px; bottom:16px; margin-top:2px; color:#97a2bc; font-size:13px; font-weight:500; letter-spacing:-0.33px;}
.input .text_count span{color:#f8778a;}

/* dropzone */
.tab_con>div.dropzone_area{padding:15px 18px 0 18px;}
.dropzoneBox{position:relative; width:100%; height:100%;}
.dropzone{position:absolute; top:0; left:0; display:flex; justify-content:center; align-items:center; width:100%; height:calc(100% - 16px); border:1px dashed #fff; font-size:13px; font-weight:500; text-align:center; box-sizing:border-box;}
.dropzone.over{background-color:#f2f5fb; border-color:#d0d5e9; border-width:3px;}
.fileup-btn{width:68px; height:21px; margin-left:4px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; background:#2c3e51; color:#fff; font-weight:500; text-align:center; line-height:21px;}
.fileup-btn input{width:100%; height:100%; cursor:pointer; font-size:0;}
.fileup-file{overflow:visible; width:100%; max-width:none; height:100%; margin:0; padding:0; border:0; background-color:#fff; box-sizing:border-box;}
.queue{height:100%;}
.fileup-file .fileup-controls{ position:absolute; top:-8px; left:50%; width:20px; height:20px; margin:0; transform:translateX(25px); -webkit-transform:translateX(25px); -moz-transform:translateX(25px); -ms-transform:translateX(25px); -o-transform:translateX(25px); }
.fileup-file .fileup-controls .fileup-remove{display:block; position:static; width:100%; height:100%; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background-image:url("../images/ico_x.svg"); background-position:center; background-repeat:no-repeat; background-color:#2c3e51; }
.fileup-file.fileup-doc .fileup-preview{float:none; width:68px; height:68px; margin:0 auto; border:1px solid #d0d5e9; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px;  background-image:url("../images/ico_file_wav.svg"); background-repeat:no-repeat;}
.fileup-file .fileup-description{margin:4px 0 0; padding:0; text-align:center;}
.fileup-file .fileup-description .fileup-name{color:#7b848c; font-size:13px; font-weight:500;}
.fileup-file .fileup-description .desc{color:#97a2bc; font-size:12px; font-weight:500; letter-spacing:-0.3px; text-align:center;}
.fileup-file .fileup-description .desc span{display:inline-block; width:12px; height:12px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background-color:#2c3e51; background-image:url("../images/ico_x.svg"); background-position:center; background-repeat:no-repeat; background-size:8px;vertical-align:middle;}

/* stn.bg */
.btn_bg{position:relative;}
.btn_bg + .btn_bg{margin-left:16px;}
.stn.bg .tab_con>div{padding:15px 18px 21px;}
.stn.bg .tab_con>div.dropzone_area{padding:15px 18px 0 18px;}
.btn_bg .img{display:flex; align-items:center; justify-content:center; width:70px; height:70px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; border:1px solid #99a2ba; box-sizing:border-box;}
.btn_bg .img img{width:40px; height:40px;}
.btn_bg.on .img{border:2px solid #f8778a;}
.btn_bg .desc{display:block; margin-top:4px; color:#97a2bc; font-weight:500; font-size:13px; }
.btn_bg.on .desc{color:#f8778a;}
.fileup-file.fileup-image .fileup-preview{float:none; width:90px; height:90px; margin:0 auto; border:1px solid #d0d5e9; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; box-sizing:border-box;}
.fileup-file.fileup-image .fileup-preview img{width:100%; height:100%; max-width:none; max-height:none; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px;}
.fileup-image .fileup-controls{ transform:translateX(35px); -webkit-transform:translateX(35px); -moz-transform:translateX(35px); -ms-transform:translateX(35px); -o-transform:translateX(35px); }

/* stn.resolution */
.stn.resolution{padding-top:28px;}
.stn.resolution .tit_area{top:-4px;}
.stn.resolution .resolution_box{font-size:0;}
.res_radio + .res_radio{margin-left:8px;}
.res_radio {display:inline-block; position:relative; height:35px;}
.res_radio input[type="radio"]{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.res_radio input[type="radio"] + label{display:inline-block; position:relative; height:100%; padding:0 24px;  text-align:center; background:#fff; border:1px solid #99a2ba; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; color:#7b848c; font-size:13px; font-weight:500; line-height:31px; cursor:pointer; box-sizing:border-box;}
.res_radio input[type="radio"]:checked + label{background:#2c3e51; border-color:#2c3e51; color:#fff; box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.08);}

/* .stn.result */
.videoBox{position:relative; width:100%; height:475px; margin-top:8px; padding-bottom:56.25%; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; background:#f5f6fa; box-sizing:border-box; }
.videoBox .video{display:flex; align-items:center; width:100%; position:absolute; top:0; bottom:0; left:0; right:0; padding:0 18px; text-align:center; box-sizing:border-box;}
.videoBox .video video{width:100%;}

/* popWrap */
.modal_pop{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.2); z-index:10; }
.popWrap{overflow:hidden; position:absolute; top:50%; left:50%; width:166px; height:166px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; background-color:#fff; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -webkit-animation:lyr_show2 0.3s 0s ease-out; animation:lyr_show2 0.3s 0s ease-out;}
.popWrap img{ position:absolute; top:51px; left:50%; transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); z-index:1; }
.popWrap p{margin-top:8px; font-size:14px; font-weight:500; letter-spacing:-0.49px; text-align:center;}
/* keyframes */
@-webkit-keyframes lyr_show2{
    0%   {opacity:0;}
    100% {opacity:1;}
}
@keyframes lyr_show2{
    0%   {opacity:0;}
    100% {opacity:1;}
}
/* loader */
.loaderBox{overflow:hidden; position:relative; width:66px; height:66px; margin:36px auto 0; }
.loader{position:relative; width:66px; height:66px;border:6px solid #2c3e51; border-radius:50%; animation:spin 1.1s linear infinite; -webkit-animation:spin 1.1s linear infinite; box-sizing:border-box;}
.loader::before{content:''; width:6px; height:6px; background:#2c3e51; border-radius:50%; position:absolute; top:25px; left:-6px; z-index:1;}
.loader:after{content:""; width:100%; height:100%; background:-webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%); position:absolute; top:0; left:0; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);}
@keyframes spin{
    0%   {transform:rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg);}
    100% {transform:rotate(360deg); -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg);}
}